body{
    background-image: url("Resources/back4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS ", cursive, sans-serif;
    font-style: italic;
    font-size: 15px;
}

#menu{
    position: fixed;
    width: 100%;
    height: 50px;
    text-decoration: none;
    vertical-align: baseline;
    margin-top: -30px;
}

#menu1{
    position: fixed;
    width: 100%;
    height: 50px;
    text-decoration: none;
    vertical-align: baseline;
    margin-top: 54px;
}
ul{
    overflow:hidden;
    align-content: center;
    alignment: top;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-top: -30px;
}
p.logo{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    backface-visibility: inherit;
    color: black;
    background-color: #406CB2;
}
li{
    display:inline-block;
    padding: 20px;
}
button{
    font-family: "Comic Sans MS ", cursive, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    text-decoration: none;
}
a.menuList:link {
    color: 	#406CB2;
    font-weight: bold;
    text-effect: emboss;
    text-decoration: none;
}
a.menuList:visited{
    color: 	#406CB2;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: 	black;
    font-weight: bold;
    text-effect: emboss;
    text-decoration: none;
}
a:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div.form-popUp{
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
}
button.welcome{
    background-color: #406CB2;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
}


button{
    background-color: #406CB2;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border: 2px solid black;
    border-radius: 8px;

}
button:hover {
    background-color: white;
    cursor: pointer;
    /*color: white;*/
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #406CB2;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid white;
    width: 80%; /* Could be more or less, depending on screen size */
}

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

dialog.winner{
    background-color: white;
    width: 550px;
    height: 300px;
}

.square {
    height: 20px;
    width: 20px;
}

table.tableGame , table.tableGame.td, table.tableGame.tr{
    font-size: 10px;
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
}

table.settingsTable,table.settingsTable.td, table.settingsTable.tr{
    font-size: 15px;
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
    width: 600px;
}


p.userLogo{
    font-size: 15px;
}

p.footerC{
    font-size: 15px;
    color: #406CB2;
}
