body{
    background-image: url("Resources/back4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Comic Sans MS ", cursive, sans-serif;
    font-style: italic;
    font-size: 15px;
}

#menu{
    position: fixed;
    width: 100%;
    height: 50px;
    text-decoration: none;
    vertical-align: baseline;
    margin-top: -30px;
}
ul{
    overflow:hidden;
    align-content: center;
    alignment: top;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    font-style: italic;
    margin-top: -30px;
}
p.logo{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    backface-visibility: inherit;
    color: black;
    background-color: #406CB2;
}
li{
    display:inline-block;
    padding: 20px;
}
button{
    font-family: "Comic Sans MS ", cursive, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: black;
    text-decoration: none;
}
a.menuList:link {
    color: 	#406CB2;
    font-weight: bold;
    text-effect: emboss;
    text-decoration: none;
}
a.menuList:visited{
    color: 	#406CB2;
    font-weight: bold;
    text-decoration: none;
}

a:link {
    color: 	black;
    font-weight: bold;
    text-effect: emboss;
    text-decoration: none;
}
a:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

div.form-popUp{
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
}
button.welcome{
    background-color: #406CB2;
    color: black;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 8px;
    text-decoration: none;
}


button{
    background-color: #406CB2;
    color: black;
    font-weight: bold;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border: 2px solid black;
    border-radius: 8px;

}
button:hover {
    background-color: white;
    /*color: white;*/
}

dialog{
    display: none;
    border: 2px solid black;
    background-color: #406CB2;
    color: white;
    width: 500px;
    height: 300px;
}

.square {
    height: 20px;
    width: 20px;
}

table.tableGame , table.tableGame.td, table.tableGame.tr{
    font-size: 10px;
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
}

table.settingsTable,table.settingsTable.td, table.settingsTable.tr{
    font-size: 15px;
    border-style: dotted;
    border-color: black;
    display:inline-block;
    color: #406CB2;
    width: 600px;
}


p.userLogo{
    font-size: 15px;
}

p.footerC{
    font-size: 15px;
    color: #406CB2;
}
